<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Image Upload</title>
    </head>
    <body class="d-flex flex-column min-vh-100 min-vw-100 p-0 m-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="">Home <span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="img/">Images</a>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-grow-1 flex-row justify-content-center align-items-center text-center">
        <form action="/api/images/image/" method="POST" enctype="multipart/form-data" id="upload-file">
            <div class="mb-3">
                <label for="file" class="form-label">Imagem para envio</label>
                <input class="form-control" type="file" name="file" id="file">
            </div>
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
            <input type="hidden" name="_csrf" id="csrf-token">
        </form>
    </div>
    <script>
        async function fetchCsrfToken() {
            const response = await fetch("/csrf-token")
            const token = await response.json()
            return token["token"];
        }
        let csrfToken = ""
        document.getElementById("upload-file").addEventListener('submit', async function(event) {
            event.preventDefault()
            const formData = new FormData(this)
            if (csrfToken === "") {
                csrfToken = await fetchCsrfToken()
            }
            const response = await fetch("/api/images/image/", {
                method: "POST",
                body: formData,
                headers: { "X-CSRF-TOKEN": csrfToken }
            })
            if (response.status === 200) {
                alert("Imagem enviada com sucesso")
            } else { alert("Erro ao enviar imagem") }
        })
    </script>
    </body>
</html>